@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,100&display=swap');

body{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    background: rgb(100, 100, 100);
}

.title1{grid-area: title1;}
.title2{grid-area: title2;}
.filesubmit{grid-area: btn5;}
.opt1{grid-area: opt1;}
.opt2{grid-area: opt2;}
.opt3{grid-area: opt3;}
.lbl1{grid-area: lbl1;}
.lbl2{grid-area: lbl2;}
.btn1{grid-area: btn1;}
.btn2{grid-area: btn2;}
.ipt1{grid-area: ipt1;}
.ipt2{grid-area: ipt2;}
.api-btn{grid-area: btn3;}
.date-range{grid-area: span1;}
.eggs{grid-area: dropdown;}
.opt4{grid-area: opt4;display: none;}

.mygridarea{
    display: grid;
    grid-template-areas:
    'title1 . spacer . title2 title2'
    'btn5 . . opt1 lbl1 ipt1'
    'btn1 . . opt2 lbl2 ipt2'
    'btn2 . . opt3 span1 span1'
    '. . . dropdown . btn3';
    grid-gap: 15px;
    background-color: #1c7436;
    padding: 10px;    
    
    column-gap: 20px;
}

.cool-btn {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 15px;
}
.cool-btn:hover {
    background-color: white; /* Green */
    color: black;
}



.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


.api-btn{
    margin: auto 5px;
}

@media only screen and (max-width: 700px) {
    .mygridarea{        
        grid-template-areas:
        'title1 . .'
        'btn5 . .'
        'btn1 btn2 .'
        ' . . .'
        'title2 . . '
        'opt1 opt2 opt3'
        'lbl1 ipt1 dropdown'
        'lbl2 ipt2 .'
        'span1 btn3 .';
        grid-gap: 10px;
        background-color: #1c7436;
        padding: 5px;
        column-gap: 10px;
    }
}